<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Flask World</title>
</head>
<body>
<form method = 'post', action="/">
    <p>
        <lable for="username">Username</lable>
        <input id="username" name = "USERNAME" placeholder ="UserName">
    </p>
    <p>
        <label for="password">Password</label>
        <input id="password" name = "PASSWORD" placeholder ="Password">
    </p>
    <input type=submit>
    <a href="/registartion">Registarion</a>
</form>
</body>
</html>